<%/**
* views/partials/inbox-message.ejs
*
* An individual inbox message.
*
* @needs {Dictionary} message
*   @property {Number} id
*   @property {String} subject
*
*/%>
<div id="panel-<%=measure.sensor%>" class="col-md-4 sensor-panel">
  <div  class="panel panel-default">
    <div class="panel-heading">
      <i class="fa <%=icon %> fa-fw"></i> <a href="/details?sensor=<%=measure.sensor%>"><%=label %></a>
      <span style="float : right" id="last-value-<%=measure.sensor%>"></span>
      <a href="#" class="maximize-lnk" onclick="maximize('<%=measure.sensor%>')" style="float: right"><i class="glyphicon glyphicon-resize-full"></i></a>
      <a href="#" class="minimize-lnk" onclick="minimize('<%=measure.sensor%>')" style="float: right"><i class="glyphicon glyphicon-resize-small"></i></a>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <canvas id="chart-<%=measure.sensor %>" width="400" height="250"></canvas>
    </div>
    <!-- /.panel-body -->
  </div>
</div>
<script>
  <%-"var chartData="+JSON.stringify(measure.data) %>
  <%-"var label='"+label+"'" %>
  <%-"var id='"+measure.sensor+"'" %>
  <%-"var color='"+measure.color+"'" %>
  var ctx = document.getElementById("chart-"+id).getContext('2d');
  charts[id] = new Chart(ctx, {
    responsive : true,
    maintainAspectRatio: false,
    type: 'line',
    data: {
      labels : labels,
      datasets: [{
        data: chartData,
        label : label,
        backgroundColor: color,
        borderColor: color,
        borderWidth: 1,
        fill : true
      }]
    },

  });
  <%if(req.param("freq") == 0){%>

    setInterval(function(){
      $.get("/data/last" , function(data){
        var d = new Date(data.createdAt)
        charts["<%=measure.sensor%>"].data.datasets[0].data.push(data["<%=measure.sensor%>"]);
        charts["<%=measure.sensor%>"].data.labels.push(d.getHours()+":"+ d.getMinutes());
        charts["<%=measure.sensor%>"].data.datasets[0].data.splice(0 ,1)
        charts["<%=measure.sensor%>"].data.labels.splice(0 ,1)
        charts["<%=measure.sensor%>"].update();
      })

    } , 180000)
  <%}%>

</script>
